# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

In [2]:
cur.execute("""SELEct count(*) from employees;""").fetchall()

[(23,)]

In [3]:
cur.execute("""SELECT firstname, lastname, city, state FROM employees lEFT JOIN offices ON employees.officeCode = offices.officeCode;""")
df = pd.DataFrame(cur.fetchall())

In [4]:
len(df)

23

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [5]:
cur.execute("""SELECT customerName, orderNumber, orderDate, status FROM customers lEFT JOIN orders ON customers.customerNumber = orders.customerNumber GROUP BY 1;""")
df = pd.DataFrame(cur.fetchall())
df

                                      0      1           2           3
0                         ANG Resellers   None        None        None
1                        AV Stores, Co.  10332  2004-11-17     Shipped
2                          Alpha Cognac  10397  2005-03-28     Shipped
3                American Souvenirs Inc   None        None        None
4                    Amica Models & Co.  10293  2004-09-09     Shipped
5               Anna's Decorations, Ltd  10391  2005-03-09     Shipped
6                   Anton Designs, Ltd.   None        None        None
7            Asian Shopping Network, Co   None        None        None
8                 Asian Treasures, Inc.   None        None        None
9                     Atelier graphique  10345  2004-11-25     Shipped
10         Australian Collectables, Ltd  10415  2005-05-09    Disputed
11           Australian Collectors, Co.  10347  2004-11-29     Shipped
12          Australian Gift Network, Co  10374  2005-02-02     Shipped
13                 Auto Associ√©s & Cie.  10304  2004-10-11     Shipped
14                    Auto Canal+ Petit  10402  2005-04-07     Shipped
15              Auto-Moto Classics Inc.  10352  2004-12-03     Shipped
16                    BG&E Collectables   None        None        None
17                   Baane Mini Imports  10325  2004-11-05     Shipped
18   Bavarian Collectables Imports, Co.  10296  2004-09-15     Shipped
19                 Blauer See Auto, Co.  10323  2004-11-05     Shipped
20                    Boards & Toys Co.  10376  2005-02-08     Shipped
21                          CAF Imports  10231  2004-03-19     Shipped
22           Cambridge Collectables Co.  10249  2004-05-08     Shipped
23       Canadian Gift Exchange Network  10313  2004-10-22     Shipped
24              Classic Gift Ideas, Inc  10307  2004-10-14     Shipped
25                 Classic Legends Inc.  10337  2004-11-21     Shipped
26              Clover Collections, Co.  10297  2004-09-16     Shipped
27         Collectable Mini Designs Co.  10226  2004-02-26     Shipped
28           Collectables For Less Inc.  10369  2005-01-20     Shipped
29             Corporate Gift Ideas Co.  10384  2005-02-23     Shipped
..                                  ...    ...         ...         ...
92                   Reims Collectables  10398  2005-03-30     Shipped
93                        Rovelli Gifts  10328  2004-11-12     Shipped
94    Royal Canadian Collectables, Ltd.  10283  2004-08-20     Shipped
95                         Royale Belge  10366  2005-01-10     Shipped
96                 SAR Distributors, Co   None        None        None
97                Salzburg Collectables  10419  2005-05-17     Shipped
98               Saveley & Henriot, Co.  10227  2004-03-02     Shipped
99              Scandinavian Gift Ideas  10389  2005-03-03     Shipped
100                    Schuyler Imports   None        None        None
101            Signal Collectibles Ltd.  10219  2004-02-10     Shipped
102                  Signal Gift Stores  10346  2004-11-29     Shipped
103           Souveniers And Things Co.  10420  2005-05-29  In Process
104      Stuttgart Collectable Exchange   None        None        None
105            Stylish Desk Decors, Co.  10351  2004-12-03     Shipped
106                 Suominen Souveniers  10363  2005-01-06     Shipped
107                    Super Scale Inc.  10245  2004-05-04     Shipped
108                Technics Stores Inc.  10362  2005-01-05     Shipped
109             Tekni Collectables Inc.  10401  2005-04-03     On Hold
110           The Sharp Gifts Warehouse  10407  2005-04-22     On Hold
111             Tokyo Collectables, Ltd  10408  2005-04-22     Shipped
112             Toms Spezialit√§ten, Ltd  10310  2004-10-16     Shipped
113                Toys of Finland, Co.  10377  2005-02-09     Shipped
114                   Toys4GrownUps.com  10367  2005-01-12    Resolved
115               UK Collectables, Ltd.  10403  2005-04-08     Shipped
116                     Vida Sport, Ltd  10287  2004-08-30     Shipped
117                     Vitachrome Inc.  10324  2004-11-05     Shipped
118            Volvo Model Replicas, Co  10334  2004-11-19     On Hold
119                    Warburg Exchange   None        None        None
120         West Coast Collectables Co.  10215  2004-01-29     Shipped
121                   giftsbymail.co.uk  10316  2004-11-01     Shipped

[122 rows x 4 columns]

In [6]:
len(df)

122

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [11]:
cur.execute("""SELECT * FROM orders JOIN orderdetails USING(orderNumber);""")
df = pd.DataFrame(cur.fetchall())

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_1749,30,136.00,3
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_2248,50,55.09,2
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_4409,22,75.46,4
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S24_3969,49,35.29,1
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2325,25,108.06,4
5,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2795,26,167.06,1
6,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_1937,45,32.53,3
7,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_2022,46,44.35,2
8,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1342,39,95.55,2
9,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1367,41,43.13,1
10,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_1949,26,214.30,11
11,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_4962,42,119.67,4
12,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S12_1666,27,121.64,8
13,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_1097,35,94.50,10
14,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2432,22,58.34,2
15,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2949,27,92.19,12
16,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2957,35,61.84,14
17,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3136,25,86.92,13
18,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3320,46,86.31,16
19,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4600,36,98.07,5
20,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4668,41,40.75,9
21,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_2300,36,107.34,1
22,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_4258,25,88.62,15
23,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_1268,31,92.46,3
24,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_3522,45,63.35,7
25,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S700_2824,42,94.07,6
26,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S12_3148,34,131.44,1
27,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S12_4473,41,111.39,9
28,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S18_2238,24,135.90,8
29,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S18_2319,29,122.73,12
...,...,...,...,...,...,...,...,...,...,...,...
2966,10420,2005-05-29,2005-06-07,,In Process,,282,S24_3432,26,104.94,12
2967,10420,2005-05-29,2005-06-07,,In Process,,282,S24_3969,15,35.29,3
2968,10421,2005-05-29,2005-06-06,,In Process,Custom shipping instructions were sent to ware...,124,S18_2795,35,167.06,1
2969,10421,2005-05-29,2005-06-06,,In Process,Custom shipping instructions were sent to ware...,124,S24_2022,40,44.80,2
2970,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2
2971,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1367,25,47.44,1
2972,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2949,10,89.15,1
2973,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2957,31,56.21,3
2974,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3136,21,98.44,2
2975,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3320,21,80.36,5
2976,10423,2005-05-30,2005-06-05,,In Process,,314,S24_4258,28,78.89,4
2977,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6
2978,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3
2979,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5
2980,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4
2981,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2
2982,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1
2983,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12
2984,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4
2985,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3
2986,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7
2987,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10
2988,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8
2989,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13
2990,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1
2991,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9
2992,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5
2993,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11
2994,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6
2995,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [15]:
cur.execute("""SELECT * FROM orders JOIN orderdetails On orders.orderNumber = orderdetails.orderNumber Join products On orderdetails.productCode=products.productCode;""")
df = pd.DataFrame(cur.fetchall())

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,10100,S18_1749,30,...,3,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,10100,S18_2248,50,...,2,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,10100,S18_4409,22,...,4,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,10100,S24_3969,49,...,1,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,10101,S18_2325,25,...,4,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!